@-moz-document domain("bgm.tv"), domain("bangumi.tv"), domain("chii.in") {
/*把[mask]变为真正的马赛克（这段不是我写的）*/
span:hover[style="background-color:#555;color:#555;border:1px solid #555;"]::after {
	content: "人家的秘密都被你看光了>人<";
	position: absolute;
	right: 0;
	color: #555;
	background-color: #fff;
	box-shadow: #555 2px 2px 1px;
	display: block;
	white-space: nowrap;
}

}

@-moz-document regexp("https?://(bgm.tv|bangumi.tv|chii.in)/") {
/*首页样式优化*/
.wrapperNeue
{
   content: '';
	height: 100%;
	width: 100%;
	position: relative;
	background-image: url("https://pic.imgdb.cn/item/620a64042ab3f51d91f0c895.jpg");/*可以通过更改这个链接替换主页背景（推荐使用高清竖图，要不然大概率会卡住）*/
	background-size: cover;
	filter: blur(0px);
}
.column
{
    opacity: 0.8;
}

#headerNeue2
{
    /*background: #fff;*/
    margin: auto;
    /*background: rgba(255, 255, 255,0.7);*/
	background: #f4f5f7d1;
}
.headerNeue2
{
    top: -1px;
}
.halfPage.sort.ui-draggable
{
   background: rgba(255, 255, 255,0.9); 
}
.sidePanelHome
{
    background: rgba(255, 255, 255,.1);
}
#home_calendar
{
    background: rgba(255, 255, 255,0.7);
}
/*img.willian-retina-img-fix.willian-size-48
{
	height:80px;
    width:60px;
}*/
#TB_window
{
	z-index:9999;
}
}

@-moz-document regexp("^https?://(bgm.tv|bangumi.tv|chii.in)/(subject|person|character|group|rakuen|blog|ep|user|new_subject|wiki|settings|dev|help|about|notify|pm|mono|magi).+"), regexp("^https?://(bgm.tv|bangumi.tv|chii.in)/(real|anime|book|game|music|index)/.+"), regexp("^https?://(bgm.tv|bangumi.tv|chii.in)/(new_subject|wiki|settings|dev|calendar|magi|goodies|timeline|book|music|game|anime|real|about|notify|group|pm|mono|character|person)") {
/*其他页面样式优化*/
div.codeHighlight
{
	backdrop-filter: blur(10px);
	opacity: 0.7;
}
body::after
{
	content: '';
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-image: url("https://lain.bgm.tv/pic/photo/l/95/f7/615400_h6Zk6.jpg");/*可以通过更改这个链接替换其他页面的背景（推荐使用横图）*/
	opacity:0.7;
	background-size: cover;
	filter: blur(10px);
	z-index: -1;
}

.item.even.clearit
{
   opacity:0.8;
}

.mainWrapper,
#comment_box .text, #comment_box .text_pm,
.line_odd,
.line_even,
ul.line_list_music li.cat,
ul.line_list li.cat{
	background: rgba(255, 255, 255, .35);
	padding: 5px;
}
/*#headerSubject div.subjectNav,*/
#headerSubject,
div.mainWrapper{
	margin: auto;
	/*标注*/
	backdrop-filter: blur(10px);
	padding-top:15px;
}
#headerSubject
{
	background: rgba(255, 255, 255, .6);
	width:80.6%;
}
#headerSubject div.subjectNav
{
	margin: auto;
	background: rgba(255, 255, 255, 0);
	border: none;
}
subject_section.clearit
{
	background: rgba(255, 255, 255, .67);
}
div.section_line,
ul.browserList li.even,
div#footer ul#footerLinks,
textarea.reply,
ul.browserList li.item,
ul#infobox li,
ul.groupsLine li,
div.subject_tag_section,
table td.even,
ul.browserCoverMedium li.sep,
div.subjectFilter,
div.subjectFilter ul.grouped,
#browserTools,
ul.browserFull li.even,
ul.browserFull li.item,
.cell.name.medium.ll,
div.cell.ll,
.line_list.user_list,
input.inputtext
{
	border: none;
	background: transparent;
}
div#footer ul#footerLinks
{
	opacity: 0.9;
}
div.line.clearit::after
{
	opacity:0;
}
.column
{
    opacity: 0.8; 
    
}
div.subject_section
{
    color:white;
}
#headerNeue2
{
    margin: auto;
    background: rgba(255, 255, 255, .8);
	backdrop-filter: blur(5px);
	z-index: 9;

}
tr.even
{
	opacity: 0.65;
}
.modifyTool
{
    opacity: 0.9;
}
#footer
{
    background: rgba(255, 255, 255, .8);
}

.temples.tab_page_item.tab_page_item_0
{
    
    background: rgba(255, 255, 255, .65);
}
.tab_button
{
    color:white;
}
#grailBox2
{
    background: rgba(255, 255, 255, .65);
}
ul.timelineTabs
{
    background: rgba(255, 255, 255, .65);
}
#headerProfile
{
    width:80.6%;
    margin:auto;
   opacity: 0.7; 
}
.mainWrapper
{
	/*标注*/
   /* margin:auto;*/
	background: rgba(255,255,255,0.3);
	width: 80%
}
.columns.clearit
{
    margin:auto;
}

#columnB
{
    background: rgba(255, 255, 255, .75);
}
#pageHeader{
    background: rgba(255, 255, 255, 0);

}
#comment_list
{
    background: rgba(255, 255, 255, .5);
}
.light_even.row_reply.clearit
{
    background: rgba(255, 255, 255, .4);
}
#header
{
    background: rgba(255, 255, 255, .35);
}
q
{
    color:	#909090;
}
a.btnGreenSmall.rr
{
    background: rgba(30, 181, 176, .47);
}
a.btnRedSmall.rr
{
    background: rgba(200, 106, 106, .49);
}
span.tip_i
{
    color:rgb(83, 79, 104);
}
span.count
{
    
    
    filter: invert(100);
    filter: saturate(0);
    
    /*filter: grayscale(100%);*/
}
tbody{
    background: rgba(255, 255, 255, .8);
}
.grp_box.clearit
{
    background:rgba(255,255,255,.6);
}
#main.png_bg
{
    background:rgba(255,255,255,.35);
    margin: auto;
    width: 80%;
}
tbody
{
    background:rgba(255,255,255,.35);
    
}
ul#browserItemList
{
    background:rgba(255,255,255,.35);
}
.intro
{
    opacity:0.97;
}
div[style="width:800px; margin:0 auto; overflow:hidden"]
{
	transform:translate(0, 10%);
}
div#collect_title
{
	opacity: 0;
	position: fixed;
}
textarea#content
{
	opacity: 0.7;
	backdrop-filter: blur(10px);
}
ul
{
	z-index: 99;
}
div.eden_rec_box
{
	background: rgba(255,255,255,0.5);
}
div.clearit.ll[style="width:270px;"],
div.ll[style="margin-left:10px;width:270px;"]
{
	background:rgba(255,255,255,0.5);
	opacity: 0.8;
}
.columnsApp.clearit
{
	margin-top:5px;
	margin-bottom:100px;
	background: rgba(255,255,255,0.5);
}
.magiHeader
{
	background: rgba(255,255,255,0.35);
}
}

@-moz-document regexp("^https?://(bgm.tv|bangumi.tv|chii.in)/(group)/.+/members") {
/*小组成员页面细节优化*/
.columns.clearit
{
    background: rgba(255, 255, 255, .3);
}
}

@-moz-document regexp("^https?://(bgm.tv|bangumi.tv|chii.in)/subject.+") {
/*条目、角色、人物页鼠标移动到封面上会放大*/
img.cover
{
   height:68%;
	width:68%;
	transition: all .5s;/*此行与第13行可调整动画速度*/
}
img.cover:hover
{
    
   height:95%;
	width:95%;
	transition: all .5s;

}
#cluetip
{
    opacity:0.85;
}
}

@-moz-document regexp("^https?://(bgm.tv|bangumi.tv|chii.in)/(person|character).+") {
/*封面放大的bug排除*/
.cover[src^="//lain.bgm.tv/pic/crt"]
{
    height:68%;
    width:68%;
}
.cover[src^="//lain.bgm.tv/pic/crt"]:hover
{
    
    height:95%;
    width:95%;
}
}

@-moz-document regexp("^https?://(bgm.tv|bangumi.tv|chii.in)/(index).+") {
/*目录页标题右移*/
h1
{
    margin-left:15%;
}
}

@-moz-document regexp("^https?://(bgm.tv|bangumi.tv|chii.in)/subject/[0-9].+"), regexp("^https?://(bgm.tv|bangumi.tv|chii.in)/(person|character).+") {
/*角色、人物、条目页标题右移*/
h1
{
    text-align: center;
}
}

@-moz-document regexp("https://(bgm.tv|bangumi.tv|chii.in)/help/bbcode"), regexp("https://(bgm.tv|bangumi.tv|chii.in)/subject/topic.+"), regexp("https://(bgm.tv|bangumi.tv|chii.in)/(anime|settings|notify|music|book|game|about|wiki).+"), regexp("https://(bgm.tv|bangumi.tv|chii.in)/(dev|group|anime|settings|notify|music|book|game|calendar|timeline|about|wiki)") {
/*目录以外的页面标题右移*/
h1
{
    margin-left:7%;
}
ul.secTab.rr
{
    opacity:0.7;
}
}
