@-moz-document domain("bgm.tv"), domain("bangumi.tv"), domain("chii.in") {
/*把[mask]变为真正的马赛克（这段不是我写的）*/
span:hover[style="background-color:#555;color:#555;border:1px solid #555;"]::after
{
	content: "人家的秘密都被你看光了>人<";
	position: absolute;
	right: 0;
	color: #555;
	background-color: #fff;
	box-shadow: #555 2px 2px 1px;
	display: block;
	white-space: nowrap;
}

}

@-moz-document regexp("https?://(bgm.tv|bangumi.tv|chii.in)/") {
/*首页样式优化*/
.wrapperNeue
{
   content: '';
	height: 100%;
	width: 100%;
	position: relative;
	background-image: url("https://pic.imgdb.cn/item/620a64042ab3f51d91f0c895.jpg");/*可以通过更改这个链接替换主页背景（推荐使用高清竖图，要不然大概率会卡住）*/
	background-size: cover;
}
#headerNeue2
{
	background: rgba(255, 255, 255,0.7);
	border: none;
}
.halfPage.sort.ui-draggable
{
   background: rgba(255, 255, 255,0.9); 
}
.sidePanelHome
{
    background: rgba(255, 255, 255,.1);
}
#home_calendar
{
    background: rgba(255, 255, 255,0.7);
}
.clearit.week
{
	border: none;
}
#prgManagerMain,input.inputtext
{
	background: rgba(255, 255, 255,.7);
}
#cloumnSubjectInfo a.prgCheckIn, ul#prgSubjectList li a.prgCheckIn
{
	background: rgba(255, 255, 255,0.5);
}
#prgManagerHeader
{
	background: rgba(255, 255, 255,0.7);
	border: none;
}
#cloumnSubjectInfo div.header
{
	background: rgba(255, 255, 255,0);
	border: none;
}
#cloumnSubjectInfo div.moreEp,ul#prgSubjectList.list li.sep, ul#prgSubjectList.full li.sep
{
	background: rgba(255, 255, 255, 0);
	border: none;
}
ul#prgSubjectList.full
{
	background: rgba(255, 255, 255,0);
}
ul#prgSubjectList.full li p.listProgress span
{
	background: rgba(65, 180, 218, .4);
	border: none;
}
ul#prgSubjectList.full li,div.sidePanelHome h2
{
	border: none;
}
#home_calendar,ul.calendarMini div.coverList
{
	background: rgba(255, 255, 255,.6);
	border: none;
}
small.grey
{
	color: #a3a3a3;
}
ul.calendarMini li,
ul.calendarMini li.Sat,
ul.calendarMini li.Mon,
ul.calendarMini li.Tue,
ul.calendarMini li.Wed,
ul.calendarMini li.Thu,
ul.calendarMini li.Fri,
ul.calendarMini li.Sun
{
	background: rgba(255, 255, 255,0);
	color: grey;
}
.halfPage.sort.ui-draggable,textarea.quick
{
	background: rgba(255, 255, 255,.4);
}
.line_odd,.line_even
{
	background: rgba(255, 255, 255,0);
	border: none;
}
#footer #footerLinks
{
   background: rgba(255, 255, 255, .6);
}
#columnTimelineInnerWrapper,#columnTimelineInnerWrapper ul.timelineTabs,element.style,div.SidePanelMini
{
	background: rgba(255, 255, 255,.4);
}
#columnTimelineInnerB
{
	background-color: rgba(255, 255, 255,.4);
}
#columnTimelineInnerB div.TsukkmiBox
{
	background: rgba(255, 255, 255,0);
}
/*.column
{
    opacity: 0.8;
}
}

@-moz-document regexp("^https?://(bgm.tv|bangumi.tv|chii.in)/(subject|person|character|group|rakuen|blog|ep|user|new_subject|wiki|settings|dev|help|about|notify|pm|mono|magi|).+"), regexp("^https?://(bgm.tv|bangumi.tv|chii.in)/(real|anime|book|game|music|index)/.+"), regexp("^https?://(bgm.tv|bangumi.tv|chii.in)/(new_subject|wiki|settings|dev|calendar|magi|goodies|timeline|book|music|game|anime|real|about|notify|group|pm|mono|character|person)") {
/*其他页面样式优化*/
body::after
{
	content: '';
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-image: url("https://lain.bgm.tv/pic/photo/l/95/f7/615400_h6Zk6.jpg");/*可以通过更改这个链接替换其他页面的背景（推荐使用横图）*/
	opacity:0.7;
	background-size: cover;
	filter: blur(10px);
	z-index: -1;
}
.user_list.line_list li,
#columnSearch,
a.cover:hover img.cover,
img.cover,
table.settings td,
#columnSearchA ul li a,
#columnSearchA ul li a:hover, #columnSearchA ul li a.selected,
#wrapperNeue #columnSubjectBrowserA #browserTools,
ul.browserFull li.item.even,
div.light_odd,
div.light_even,
.borderNeue,
#headerSubject div.subjectNav,
div.navSubTabsWrapper,
div.section_line,
ul.browserList li.even,
div#footer ul#footerLinks,
textarea.reply,
ul.browserList li.item,
ul#infobox li,
ul.groupsLine li,
div.subject_tag_section,
table td.even,
ul.browserCoverMedium li.sep,
div.subjectFilter,
div.subjectFilter ul.grouped,
#browserTools,
ul.browserFull li.even,
ul.browserFull li.item,
.cell.name.medium.ll,
div.cell.ll,
.line_list.user_list,
input.inputtext,
div.subject_section,
table.topic_list tr.header,
ul.collect li.item,
ul.collect li.cat,
div.sub_reply_bg,
#entry_list div.item,
#columnSearchA ul,
div.SimpleSidePanel h2
{
	border: none;
	box-shadow: none;
	background: rgba(0, 0, 0, 0);
}
.panelProgress.book
{
	border-radius:7px 7px 7px 7px;
	border-color: rgba(153, 153, 153, .59);
}
img.cover,img.cover::hover
{
	padding: 0px;
	border: 0px;
}
#headerNeue2,div.codeHighlight
{
	backdrop-filter: blur(3px);
}

a.tip_i, a.tip_i:link, a.tip_i:visited, a.tip_i:active,a.reply-plus-one
{
	color: #686868;
}
a.reply-plus-one
{
	border: 1px solid #686868;
}
div.re_info,div.re_info a,.tip_j
{
	color: #686868;
}
#searchHomeBox ul.cat li a, .indexCatBox ul.cat li a
{
	    color: #7d7d7d;

}
img.cover
{
	border-radius: 8px 8px 8px 8px;
	margin-left: 10px;
}
ul.browserFull li.item img.cover
{
	max-width: 120px;
}
#headerProfile div.subjectNav
{
	border: none;
	margin-bottom: 0px;
}
#headerSubject,div.mainWrapper
{
	margin-left: auto;
	padding-top:15px;
}
#headerProfile,.mainWrapper,#headerSubject,#main.png_bg,#columnSearch,div#main
{
	width:81%;
	margin: auto;
}
.navSubTabsWrapper
{
	padding-left: 20px;
}

div.subject_section,.tab_button
{
    color:white;
}
span.count
{
    filter: saturate(0);
}
span.description,small.alarm
{
	color: #000000f5;
}
q
{
	color:	#909090;
}
span.tip_i
{
    color:rgb(83, 79, 104);
}

#headerNeue2
{
	z-index: 9;
}
ul
{
	z-index: 99;
}
table.forumtable
{
	border: 2px;
	border-color: white;
}
.columns.clearit
{
    margin:auto;
}
div[style="width:800px; margin:0 auto; overflow:hidden"]/*乐园*/
{
	transform:translate(0, 10%);
}
.columnsApp.clearit
{
	margin-top:5px;
	margin-bottom:100px;
}
div.SidePanel h2, div.SidePanelLow h2
{
	text-shadow: none;
}
#sliderContainer
{
	opacity: 0;
	position: fixed;
}
#eden_tpc_list
{
	margin-top: -1px;
}
}

@-moz-document regexp("^https?://(bgm.tv|bangumi.tv|chii.in)/(subject|person|character|group|rakuen|blog|ep|user|new_subject|wiki|settings|dev|help|about|notify|pm|mono|magi).+"), regexp("^https?://(bgm.tv|bangumi.tv|chii.in)/(real|anime|book|game|music|index)/.+"), regexp("^https?://(bgm.tv|bangumi.tv|chii.in)/(new_subject|wiki|settings|dev|calendar|magi|goodies|timeline|book|music|game|anime|real|about|notify|group|pm|mono|character|person)") {
/*透明化*/
body
{
	background: rgba(255, 255, 255, .19);
}
div#main
{
	background: rgba(255, 255, 255, 0.4);
}
table.forumtable
{
	background: rgba(255, 255, 255, 0.4);
}
table.forumtable tr.alt td
{
	background: rgba(255, 255, 255, 0);
}
#columnSearchA ul,#columnSearchA ul li.root
{
	background: rgba(255, 255, 255, 0.4);
}
#columnSearch
{
	background: rgba(255, 255, 255, 0.4);
}
.magiHeader
{
	background: rgba(255, 255, 255, 0.35);
}
.panelProgress.book
{
	background: rgba(255, 255, 255, 0.35);
}
div#ChartWarpper
{
	background: rgba(255, 255, 255, 0);
}
#columnSearchA ul li a:hover, #columnSearchA ul li a.selected
{
	background: #f09199ad
}
.columnsApp.clearit
{
	background: rgba(255, 255, 255, 0.5);
}
div.eden_rec_box
{
	background: rgba(255, 255, 255, 0.5);
}
tbody
{
	background: rgba(255, 255, 255, .35); 
}
ul#browserItemList
{
   background: rgba(255, 255, 255, .0);
}
div.infobox .modifyTool
{
	background: rgba(255, 255, 255, .5);
}
#columnNotifyA div.even
{
	background: rgba(255, 255, 255, .4);
}
#main.png_bg
{
   background: rgba(255, 255, 255, .35);
}
ul.timelineTabs li a.focus, ul.timelineTabs li a.top_focus
{
	background: rgba(255, 255, 255, .7);
}
.grp_box.clearit
{
   background: rgba(255, 255, 255, .6);
}
#columnB
{
   background: rgba(255, 255, 255, .0);
}
#pageHeader
{
   background: rgba(255, 255, 255, 0);
}
ul.browserFull li.item.even
{
	background: rgba(255, 255, 255, .0);
}
#columnSubjectBrowserB .sideInner
{
	background: rgba(255, 255, 255, .5);
}
#columnSubjectBrowserB .sideInner h2
{
	background: rgba(255, 255, 255, 0);
}
select.form
{
	background: rgba(255, 255, 255, .5);
}
input.btnPink, input.btnGray
{
	background:#ff4a5952;
}
#comment_list
{
   background: rgba(255, 255, 255, .4);
}
.light_even.row_reply.clearit
{
   background: rgba(255, 255, 255, .0);
}
#header
{
   background: rgba(255, 255, 255, .35);
}
.mainWrapper
{
	background: rgba(255, 255, 255, 0.3);
}
.mainWrapper,#comment_box .text, #comment_box .text_pm,.line_odd,.line_even,ul.line_list_music li.cat,ul.line_list li.cat
{
	background: rgba(255, 255, 255, .35);
}

#grailBox2
{
   background: rgba(255, 255, 255, .65);
}
ul.timelineTabs
{
   background: rgba(255, 255, 255, .65);
}
#footer
{
   background: rgba(255, 255, 255, .4);
}
.temples.tab_page_item.tab_page_item_0
{
   background: rgba(255, 255, 255, .65);
}
#headerSubject
{
	background: rgba(255, 255, 255, .6);
}
subject_section.clearit
{
	background: rgba(255, 255, 255, .67);
}
tbody
{
	background: rgba(255 ,255, 255, .0);
}
a.chiiBtn
{
	background: rgba(255, 255, 255, .72);
}
hr.board,div#collect_title,#ChartWarpper .chart_desc
{
	background: rgba(255, 255, 255, .0);
}
a.btnGreenSmall.rr
{
   background: rgba(30, 181, 176, .47);
}
a.btnRedSmall.rr
{
   background: rgba(200, 106, 106, .49);
}
#subject_inner_info,div.menu_inner
{
	background: rgba(255, 255, 255, .49);
}
#headerNeue2
{
   background: rgba(255, 255, 255, .75);
}
div.grp_box
{
	background: rgba(255, 255, 255, .5);
}
div.SidePanel, div.SidePanelLow
{
	background: rgba(255, 255, 255, .5);
}
table.topic_list tr.header
{
	background: rgba(255, 255, 255, .5);
}
#headerProfile div.subjectNav
{
	background: rgba(255, 255, 255, .35);
}
#headerProfile .headerContainer
{
	background: rgba(255, 255, 255, .5);
}
blockquote.intro
{
	background: rgba(255, 255, 255, .5);
}
table.topic_list tr.even
{
	background-color: #ffffff5e;
}
tr.odd
{
	background-color: #f9f9f942;
}
ul.browserFull li.item span.rank
{
	background: #02a3fb96
}
textarea#content
{
	opacity: 0.7;
}
div.collectBlock p.collectModify
{
	opacity: 0.75;
}
.modifyTool
{
   opacity: 0.9;
}
div#footer ul#footerLinks
{
	opacity: 0.9;
}
#cluetip
{
	opacity: 0.85;
}
}

@-moz-document regexp("^https?://(bgm.tv|bangumi.tv|chii.in)/(group)/.+/members") {
/*小组成员页面细节优化*/
.columns.clearit
{
    background: rgba(255, 255, 255, .3);
}
}

@-moz-document regexp("^https?://(bgm.tv|bangumi.tv|chii.in)/subject/.+") {
/*条目、角色、人物页鼠标移动到封面上会放大*/
img.cover
{
	margin: auto;
   height:68%;
	width:68%;
	transition: all .5s;/*此行与第13行可调整动画速度*/
}
img.cover:hover
{
   height:95%;
	width:95%;
	transition: all .5s;

}

}

@-moz-document url-prefix("https://bgm.tv/subject_search") {
/*搜索页鼠标移动到封面上会放大*/
img.cover
{
	display:-webkit-box;
   -webkit-box-pack:center;
	margin: auto;
   height:68%;
	width:68%;
	transition: all .5s;/*此行与第13行可调整动画速度*/
}
.columns.clearit
{
	display:-webkit-box;
   -webkit-box-pack:center;
}
img.cover:hover
{
	margin: auto;
	/*margin-right: 10px;*/
   height:90%;
	width:90%;
	transition: all .5s;
}
#columnSearchA
{
	margin-right: 0;
}
}

@-moz-document regexp("^https?://(bgm.tv|bangumi.tv|chii.in)/(person|character).+") {
/*封面放大的bug排除*/
.cover[src^="//lain.bgm.tv/pic/crt"]
{
   height:68%;
   width:68%;
	transition: all .5s;
}
.cover[src^="//lain.bgm.tv/pic/crt"]:hover
{
    
   height:95%;
	width:95%;
	transition: all .5s;
}
}

@-moz-document regexp("^https?://(bgm.tv|bangumi.tv|chii.in)/(index).+") {
/*目录页标题右移*/
h1
{
    margin-left:15%;
}
}

@-moz-document regexp("^https?://(bgm.tv|bangumi.tv|chii.in)/subject/[0-9].+"), regexp("^https?://(bgm.tv|bangumi.tv|chii.in)/(person|character).+") {
/*角色、人物、条目页标题右移*/
h1
{
    text-align: center;
}
}

@-moz-document regexp("https://(bgm.tv|bangumi.tv|chii.in)/help/bbcode"), regexp("https://(bgm.tv|bangumi.tv|chii.in)/subject/topic.+"), regexp("https://(bgm.tv|bangumi.tv|chii.in)/(anime|settings|notify|music|book|game|about|wiki).+"), regexp("https://(bgm.tv|bangumi.tv|chii.in)/(dev|group|anime|settings|notify|music|book|game|calendar|timeline|about|wiki)") {
/*目录以外的页面标题右移*/
h1
{
    margin-left:7%;
}
ul.secTab.rr
{
    opacity:0.7;
}
}

@-moz-document regexp("https://(bgm.tv|bangumi.tv|chii.in)/user.+") {
/*个人主页细节*/
#headerSubject, div.mainWrapper
{
	margin-top: -2px;
}
}
